gestioon-pagos/Workflows/workflow-PATCHstatus.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "solicitudes/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        2816
      ],
      "id": "30102277-882e-41bb-9692-3635475cddfa",
      "name": "Webhook - PATCH Status",
      "webhookId": "2f102075-44db-4ada-bf13-840a2471db79"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734",
          "mode": "list",
          "cachedResultName": "MZ-FIN-08 - Matriz de solicitudes de pago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pagos Operaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        2816
      ],
      "id": "9c171025-4025-4eed-85b9-60e3765fc876",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "af48hEP1PbQpWRo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - PATCH Status').first().json.body;\nconst found = $input.first().json;\n\nif (!found || !found[\"ID\"]) {\n  return [{ json: { error: \"Solicitud no encontrada\", success: false } }];\n}\n\nlet history = [];\ntry { if (found[\"StatusHistory\"]) history = JSON.parse(found[\"StatusHistory\"]); } catch {}\n\nconst entry = {\n  status: body.status,\n  timestamp: body.timestamp || new Date().toISOString(),\n  changedBy: body.changedBy || \"Sistema\",\n};\n\n// Capture specific comment types\nif (body.rejectReason) entry.rejectReason = body.rejectReason;\nif (body.clarificationRequest) entry.clarificationRequest = body.clarificationRequest;\nif (body.clarificationResponse) entry.clarificationResponse = body.clarificationResponse;\nif (body.comment) entry.comment = body.comment;\n\nhistory.push(entry);\n\nconst update = {\n  ID: body.id,\n  \"Estatus del Pago\": body.status,\n  StatusHistory: JSON.stringify(history),\n};\n\n// Handle Finance Observations History separately if sent via status webhook\nif (body.financeObservations || (body.comment && !body.rejectReason && !body.clarificationRequest)) {\n  const newNoteText = body.financeObservations || body.comment;\n  let obsHistory = [];\n  try {\n    if (found[\"Observaciones de Finanzas\"]) {\n      const parsed = JSON.parse(found[\"Observaciones de Finanzas\"]);\n      obsHistory = Array.isArray(parsed) ? parsed : [{ text: found[\"Observaciones de Finanzas\"], timestamp: new Date().toISOString(), user: \"Legacy\" }];\n    }\n  } catch {\n    if (found[\"Observaciones de Finanzas\"]) obsHistory = [{ text: found[\"Observaciones de Finanzas\"], timestamp: new Date().toISOString(), user: \"Legacy\" }];\n  }\n\n  obsHistory.push({\n    text: newNoteText,\n    timestamp: new Date().toISOString(),\n    user: body.changedBy || \"Finanzas\"\n  });\n  update[\"Observaciones de Finanzas\"] = JSON.stringify(obsHistory);\n}\n\n// Map other specific fields\nif (body.rejectReason) update[\"Motivo de Rechazo\"] = body.rejectReason;\nif (body.clarificationRequest) update[\"Solicitud de Aclaración\"] = body.clarificationRequest;\nif (body.clarificationResponse) update[\"Respuesta a Aclaración\"] = body.clarificationResponse;\n\nreturn [\n  { json: update },\n  {\n    json: {\n      isLog: true,\n      \"ID Solicitudes\": body.id,\n      \"Evento\": body.event || \"STATUS_CHANGE\",\n      \"Timestamp\": body.timestamp || new Date().toISOString(),\n      \"Estado resultante\": body.status,\n      \"Usuario\": body.changedBy || \"\",\n      \"Comentarios\": body.rejectReason || body.clarificationRequest || body.clarificationResponse || body.comment || \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        2816
      ],
      "id": "9bd16f60-7b3a-4fbf-8697-b6d95972d3ec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734",
          "mode": "list",
          "cachedResultName": "MZ-FIN-08 - Matriz de solicitudes de pago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pagos Operaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Estatus del Pago": "={{ $json['Estatus del Pago'] }}",
            "StatusHistory": "={{ $json.StatusHistory }}",
            "Motivo de Rechazo": "={{ $json['Motivo de Rechazo'] }}",
            "Solicitud de Aclaración": "={{ $json['Solicitud de Aclaración'] }}",
            "Observaciones de Finanzas": "={{ $json['Observaciones de Finanzas'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de solicitud",
              "displayName": "Fecha de solicitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StatusHistory",
              "displayName": "StatusHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Listo para pago",
              "displayName": "Listo para pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pago Programado",
              "displayName": "Pago Programado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OC",
              "displayName": "OC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No. de Proyecto o Departamento para imputar",
              "displayName": "No. de Proyecto o Departamento para imputar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Beneficiario",
              "displayName": "Beneficiario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concepto de pago",
              "displayName": "Concepto de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Solicitado",
              "displayName": "Monto Solicitado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Divisa",
              "displayName": "Divisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Departamento solicitante",
              "displayName": "Departamento solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Persona Solicitante",
              "displayName": "Persona Solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Autorizado MAC+Operaciones",
              "displayName": "Autorizado MAC+Operaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Motivo de Rechazo",
              "displayName": "Motivo de Rechazo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solicitud de Aclaración",
              "displayName": "Solicitud de Aclaración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta a la aclaración",
              "displayName": "Respuesta a la aclaración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observaciones de Finanzas",
              "displayName": "Observaciones de Finanzas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estatus del Pago",
              "displayName": "Estatus del Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de operación",
              "displayName": "Tipo de operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estatus OC",
              "displayName": "Estatus OC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N° de factura",
              "displayName": "N° de factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "T/C",
              "displayName": "T/C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto en MXN",
              "displayName": "Monto en MXN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Banco",
              "displayName": "Banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operación",
              "displayName": "Operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Modo pago",
              "displayName": "Modo pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prestación del bien o servicio",
              "displayName": "Prestación del bien o servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Propuesta",
              "displayName": "Propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de gasto",
              "displayName": "Tipo de gasto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Factura",
              "displayName": "Link Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprobante de pago",
              "displayName": "Comprobante de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_response",
              "displayName": "_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        2720
      ],
      "id": "444ddc90-cd59-441e-804b-d787e4bd6228",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "af48hEP1PbQpWRo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Use the correct trigger name: Webhook - PATCH Status\nconst body = $('Webhook - PATCH Status').first().json.body;\n\nreturn [{ \n  json: { \n    success: true, \n    id: body.id, \n    status: body.status \n  } \n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        2720
      ],
      "id": "29d30f61-7334-428d-89e5-711fa6e624de",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2416,
        2720
      ],
      "id": "f344b038-5aa0-4a48-8008-ba8918be9cae",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a5d0fc5-3292-4598-8385-c6f3e1373dea",
              "leftValue": "={{ $json.isLog }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        2816
      ],
      "id": "b5506908-4e94-4dd9-81c7-c7cada927642",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734",
          "mode": "list",
          "cachedResultName": "MZ-FIN-08 - Matriz de solicitudes de pago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576275149,
          "mode": "list",
          "cachedResultName": "Historial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit#gid=1576275149"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID Solicitudes",
              "displayName": "ID Solicitudes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado resultante",
              "displayName": "Estado resultante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Usuario",
              "displayName": "Usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comentarios",
              "displayName": "Comentarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isLog",
              "displayName": "isLog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        2912
      ],
      "id": "2761f550-66c5-426f-9f98-6bca4f4d6700",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "af48hEP1PbQpWRo9",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook - PATCH Status": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook - PATCH Status": [
      {
        "headers": {
          "host": "egenlight.app.n8n.cloud",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
          "content-length": "118",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "es-ES,es;q=0.9",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "2806:2f0:a060:fce1:e1bc:36a8:9b47:741f",
          "cf-ew-via": "15",
          "cf-ipcountry": "MX",
          "cf-ray": "9f109c54d83d01f2-DFW",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "origin": "http://localhost:5173",
          "priority": "u=1, i",
          "referer": "http://localhost:5173/",
          "sec-ch-ua": "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "2806:2f0:a060:fce1:e1bc:36a8:9b47:741f, 162.159.104.199",
          "x-forwarded-host": "egenlight.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-105-59f487f4c8-984m7",
          "x-is-trusted": "yes",
          "x-real-ip": "2806:2f0:a060:fce1:e1bc:36a8:9b47:741f"
        },
        "params": {},
        "query": {},
        "body": {
          "id": "PAY-MOBTPCN4",
          "status": "Rejected",
          "changedBy": "emiliano.martinez@enlight.mx",
          "comment": "prueba rechazo sheets"
        },
        "webhookUrl": "https://egenlight.app.n8n.cloud/webhook/solicitudes/status",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07ceca5e978fedf0de8319073f060d445fc5f9ac86873adfc6d77f9052a35c4"
  }
}