gestioon-pagos/Workflows/workflow-POSTsolicitudes.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst subtotal = parseFloat(body.subtotal) || 0;\nconst iva = +(subtotal * 0.16).toFixed(2);\nconst amount = +(subtotal + iva).toFixed(2);\nconst id = body.id || (\"PAY-\" + Date.now().toString(36).toUpperCase());\n\nconst now = new Date().toISOString();\nconst date = now.slice(0, 10);\n\nconst statusHistory = JSON.stringify([\n  {\n    status: \"Autorización\",\n    timestamp: now,\n    changedBy: body.submittedBy || \"\",\n  }\n]);\n\nreturn [{\n  json: {\n    // Campos para Google Sheets (nombres exactos de columna)\n    \"ID\": id,\n    \"Fecha de solicitud\": date,\n    \"OC\": body.poNumber || \"\",\n    \"No. de Proyecto o Departamento para imputar\": body.projectNumber || \"\",\n    \"Beneficiario\": body.beneficiary || \"\",\n    \"Concepto de pago\": body.concept || \"\",\n    \"Subtotal\": subtotal,\n    \"IVA\": iva,\n    \"Monto Solicitado\": amount,\n    \"Divisa\": body.currency || \"MXN\",\n    \"Departamento solicitante\": body.department || \"\",\n    \"Persona Solicitante\": body.submittedBy || \"\",\n    \"Estatus del Pago\": \"Autorización\",\n    \"StatusHistory\": statusHistory,\n    // Campos vacíos para que la fila quede completa\n    \"Listo para pago\": \"\",\n    \"Pago Programado\": \"\",\n    \"Autorizado MAC+Operaciones\": \"\",\n    \"Observaciones de Finanzas\": \"\",\n    \"Tipo de operación\": \"\",\n    \"Estatus OC\": \"\",\n    \"Cliente\": \"\",\n    \"N° de factura\": \"\",\n    \"Monto Pagado\": \"\",\n    \"T/C\": \"\",\n    \"Monto en MXN\": \"\",\n    \"Banco\": \"\",\n    \"Operación\": \"\",\n    \"Modo pago\": \"\",\n    \"Prestación del bien o servicio\": \"\",\n    \"Propuesta\": \"\",\n    \"Tipo de gasto\": \"\",\n    \"Link Factura\": \"\",\n    \"Comprobante de pago\": \"\",\n    // Para la respuesta al frontend\n    _response: {\n      id,\n      poNumber: body.poNumber || \"\",\n      projectNumber: body.projectNumber || \"\",\n      beneficiary: body.beneficiary || \"\",\n      concept: body.concept || \"\",\n      subtotal,\n      iva,\n      amount,\n      currency: body.currency || \"MXN\",\n      department: body.department || \"\",\n      status: \"Autorización\",\n      submittedBy: body.submittedBy || \"\",\n      date,\n      statusHistory: [{ status: \"Autorización\", timestamp: now, changedBy: body.submittedBy || \"\" }],\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        2496
      ],
      "id": "dd8eb418-40ab-4b7a-a11c-222ea180900a",
      "name": "Preparar fila"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Preparar fila').first().json._response;\nreturn [{ json: prev }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        2496
      ],
      "id": "c4aac1ad-8bc1-45bd-903c-367bcf4b5cd6",
      "name": "Prparar respuestas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1968,
        2496
      ],
      "id": "7b885ee5-cae5-486f-8d5e-90e6c725519b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solicitudes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        2496
      ],
      "id": "02cf728f-09be-4583-abe8-5e29acaefd37",
      "name": "Webhook - POST Solicitudes",
      "webhookId": "5de72c17-a954-4ff8-a01b-57def0039ccb"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734",
          "mode": "list",
          "cachedResultName": "MZ-FIN-08 - Matriz de solicitudes de pago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pagos Operaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14T2L8dZwXznYfP7j9HKhHauI3l5S5cNLnZy2Kyr3734/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Fecha de solicitud": "={{ $json['Fecha de solicitud'] }}",
            "OC": "={{ $json.OC }}",
            "No. de Proyecto o Departamento para imputar": "={{ $json['No. de Proyecto o Departamento para imputar'] }}",
            "Beneficiario": "={{ $json.Beneficiario }}",
            "Concepto de pago": "={{ $json['Concepto de pago'] }}",
            "Subtotal": "={{ $json.Subtotal }}",
            "IVA": "={{ $json.IVA }}",
            "Monto Solicitado": "={{ $json['Monto Solicitado'] }}",
            "Divisa": "={{ $json.Divisa }}",
            "Departamento solicitante": "={{ $json['Departamento solicitante'] }}",
            "Persona Solicitante": "={{ $json['Persona Solicitante'] }}",
            "StatusHistory": "={{ $json.StatusHistory }}",
            "Listo para pago": "={{ $json['Listo para pago'] }}",
            "Pago Programado": "={{ $json['Pago Programado'] }}",
            "Autorizado MAC+Operaciones": "={{ $json['Autorizado MAC+Operaciones'] }}",
            "Observaciones de Finanzas": "={{ $json['Observaciones de Finanzas'] }}",
            "Estatus OC": "={{ $json['Estatus OC'] }}",
            "Tipo de operación": "={{ $json['Tipo de operación'] }}",
            "Estatus del Pago": "={{ $json['Estatus del Pago'] }}",
            "Cliente": "={{ $json.Cliente }}",
            "N° de factura": "={{ $json['N° de factura'] }}",
            "Monto Pagado": "={{ $json['Monto Pagado'] }}",
            "T/C": "={{ $json['T/C'] }}",
            "Monto en MXN": "={{ $json['Monto en MXN'] }}",
            "Banco": "={{ $json.Banco }}",
            "Operación": "={{ $json['Operación'] }}",
            "Modo pago": "={{ $json['Modo pago'] }}",
            "Prestación del bien o servicio": "={{ $json['Prestación del bien o servicio'] }}",
            "Propuesta": "={{ $json.Propuesta }}",
            "Tipo de gasto": "={{ $json['Tipo de gasto'] }}",
            "Link Factura": "={{ $json['Link Factura'] }}",
            "Comprobante de pago": "={{ $json['Comprobante de pago'] }}",
            "_response": "={{ $json._response }}",
            "nsOcInternalId": "={{ $('Webhook - POST Solicitudes').item.json.body.nsOcInternalId }}",
            "nsProjectId": "={{ $('Webhook - POST Solicitudes').item.json.body.nsProjectId }}",
            "vendorId": "={{ $('Webhook - POST Solicitudes').item.json.body.vendorId }}",
            "vendorRfc": "={{ $('Webhook - POST Solicitudes').item.json.body.vendorRfc }}",
            "paymentType": "={{ $('Webhook - POST Solicitudes').item.json.body.paymentType }}",
            "ocTotal": "={{ $('Webhook - POST Solicitudes').item.json.body.ocTotal }}",
            "exchangeRate": "={{ $('Webhook - POST Solicitudes').item.json.body.exchangeRate }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de solicitud",
              "displayName": "Fecha de solicitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StatusHistory",
              "displayName": "StatusHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Listo para pago",
              "displayName": "Listo para pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pago Programado",
              "displayName": "Pago Programado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OC",
              "displayName": "OC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No. de Proyecto o Departamento para imputar",
              "displayName": "No. de Proyecto o Departamento para imputar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Beneficiario",
              "displayName": "Beneficiario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concepto de pago",
              "displayName": "Concepto de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Solicitado",
              "displayName": "Monto Solicitado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Divisa",
              "displayName": "Divisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Departamento solicitante",
              "displayName": "Departamento solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Persona Solicitante",
              "displayName": "Persona Solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Autorizado MAC+Operaciones",
              "displayName": "Autorizado MAC+Operaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Motivo de Rechazo",
              "displayName": "Motivo de Rechazo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solicitud de Aclaración",
              "displayName": "Solicitud de Aclaración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta a la aclaración",
              "displayName": "Respuesta a la aclaración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observaciones de Finanzas",
              "displayName": "Observaciones de Finanzas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estatus del Pago",
              "displayName": "Estatus del Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de operación",
              "displayName": "Tipo de operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estatus OC",
              "displayName": "Estatus OC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N° de factura",
              "displayName": "N° de factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "T/C",
              "displayName": "T/C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto en MXN",
              "displayName": "Monto en MXN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Banco",
              "displayName": "Banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operación",
              "displayName": "Operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Modo pago",
              "displayName": "Modo pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prestación del bien o servicio",
              "displayName": "Prestación del bien o servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Propuesta",
              "displayName": "Propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de gasto",
              "displayName": "Tipo de gasto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Factura",
              "displayName": "Link Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprobante de pago",
              "displayName": "Comprobante de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_response",
              "displayName": "_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nsOcInternalId",
              "displayName": "nsOcInternalId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nsProjectId",
              "displayName": "nsProjectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendorId",
              "displayName": "vendorId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendorRfc",
              "displayName": "vendorRfc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paymentType",
              "displayName": "paymentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ocTotal",
              "displayName": "ocTotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "exchangeRate",
              "displayName": "exchangeRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        2496
      ],
      "id": "0c4a6108-c202-46d8-b6c6-0e98b13bae3f",
      "name": "Actualizar solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "af48hEP1PbQpWRo9",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "connections": {
    "Preparar fila": {
      "main": [
        [
          {
            "node": "Actualizar solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prparar respuestas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - POST Solicitudes": {
      "main": [
        [
          {
            "node": "Preparar fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar solicitudes": {
      "main": [
        [
          {
            "node": "Prparar respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook - POST Solicitudes": [
      {
        "headers": {
          "host": "egenlight.app.n8n.cloud",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
          "content-length": "527",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "es-ES,es;q=0.9",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "2806:2f0:a060:fce1:f0b4:69a8:ab8:f85c",
          "cf-ew-via": "15",
          "cf-ipcountry": "MX",
          "cf-ray": "a01e8e4d2eeb485f-DFW",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "origin": "http://localhost:5173",
          "priority": "u=1, i",
          "referer": "http://localhost:5173/",
          "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "2806:2f0:a060:fce1:f0b4:69a8:ab8:f85c, 162.158.174.151",
          "x-forwarded-host": "egenlight.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-105-59f487f4c8-74jkt",
          "x-is-trusted": "yes",
          "x-real-ip": "2806:2f0:a060:fce1:f0b4:69a8:ab8:f85c"
        },
        "params": {},
        "query": {},
        "body": {
          "id": "PAY-497",
          "poNumber": "PO-00098289",
          "projectNumber": "PROJ-842 — SFV_Frialsa_Colombia_AmpliaciónII",
          "beneficiary": "Bestway Global Services SA De CV",
          "concept": "Servicio Logístico",
          "subtotal": 2713.12,
          "iva": 434.1,
          "amount": 3147.22,
          "currency": "USD",
          "department": "Operaciones",
          "status": "Autorización",
          "submittedBy": "Emiliano Martínez Tejeda",
          "date": "2026-05-26",
          "nsProjectId": "11989",
          "nsOcInternalId": "772040",
          "vendorId": "11820",
          "vendorRfc": "BGS240925KU7",
          "paymentType": "Completo",
          "ocTotal": 2713.12,
          "exchangeRate": 17.3271
        },
        "webhookUrl": "https://egenlight.app.n8n.cloud/webhook/solicitudes",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07ceca5e978fedf0de8319073f060d445fc5f9ac86873adfc6d77f9052a35c4"
  }
}